endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

#stop monitor
stop webadmin

sv_scriptHookAllowed 0

#rcon_password

sets tags "default"

sets locale "pt-BR"

load_server_icon server.png

sv_master1 ""

sets banner_detail "" # Add Banner Detail link
sets banner_connecting "" # Add Banner Connecting link

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:1100001120b7194 group.admin
sv_endpointprivacy true

setr voice_syncData 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

set sv_enforceGameBuild 2699
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true

sv_hostname "Alternative vRP"
sets sv_projectName "Alternative vRP"
sets sv_projectDesc "Alternative vRP - Português"

sv_maxclients 7
# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey ""

# License key for your server 
sv_licenseKey 